In [4]:
from pandas import DataFrame, concat, merge

In [7]:
a = DataFrame([[5,6]] , columns=['A','B'])
a

   A  B
0  5  6

In [10]:
b = DataFrame([[6,7]] , columns=['B', 'C'])
b

   B  C
0  6  7

In [12]:
c= concat([DataFrame(), a, b])
c

     A  B    C
0  5.0  6  NaN
0  NaN  6  7.0

In [21]:
c= DataFrame.from_dict({'email': ['731342868@qq.com'], 'userName': ['reshi'], 'pwd': ['111111'], 'pwd2': ['111111'], 'fullName': ['Rehabs Terc'], 'phone': ['15673976364'], 'wechat': ['15673976364'], 'address': ['china']})
c

,email,userName,pwd,pwd2,fullName,phone,wechat,address
0,731342868@qq.com,reshi,111111,111111,Rehabs Terc,15673976364,15673976364,china

In [29]:
a.loc[:,'B'].values[0]

6